default_language_version:
  python: python3.9

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black

  - repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.3.1
    hooks:
      - id: nbqa-black
        additional_dependencies: [black==22.3.0]
      - id: nbqa-isort
        additional_dependencies: [isort==5.10.1]
      - id: nbqa-flake8
        additional_dependencies: [flake8==3.9.2]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        types_or: [markdown, yaml, toml, json, dockerfile, shell]
        additional_dependencies: ["prettier@2.6.2", "prettier-plugin-sh@0.10.2"]
        args: [--print-width=80, --prose-wrap=always]
# more to come (from https://dev.funkwhale.audio/funkwhale/funkwhale/-/blob/develop/.pre-commit-config.yaml)
# - repo: https://github.com/python-poetry/poetry
#   rev: 1.4.2
#   hooks:
#     - id: poetry-check
#       files: ^api/pyproject.toml$
#       args: [--directory=api]

#     - id: poetry-lock
#       files: ^api/pyproject.toml$
#       args: [--directory=api, --check]

# - repo: https://github.com/codespell-project/codespell
#   rev: v2.2.2
#   hooks:
#     - id: codespell
#       additional_dependencies: [tomli]

# - repo: https://github.com/shellcheck-py/shellcheck-py
#   rev: v0.8.0.4
#   hooks:
#     - id: shellcheck
